<template name="Header">


  <nav class="js-title-nav">
    <div class="nav-group">
      <a href="#" class="js-menu nav-item" style="margin-top:0.5em;">
        <i class="fas fa-list-ul fa-lg"></i>
      </a>
    </div>

    <h1 class="js-edit-playlists title-page">
      <span class="title-wrapper">{{name}}</span>
      <span class="count-list">{{itemsCount}}</span>
    </h1>
    <div class="nav-group right">
      <a href="#" class="vp-play-all nav-item" style="margin-top:0.5em;">
        <i class="fas fa-play fa-lg"></i>
      </a>

    </div>
  </nav>
</template>