<template name="Keypad">
  <div id="keyboard">
    <div class="keypad-password">
      {{asteriscs}}
    </div>
    <div>
      <button class="button-keypad">7</button>
      <button class="button-keypad">8</button>
      <button class="button-keypad">9</button>
    </div>
    <div>
      <button class="button-keypad">4</button>
      <button class="button-keypad">5</button>
      <button class="button-keypad">6</button>
    </div>
    <div>
      <button class="button-keypad">1</button>
      <button class="button-keypad">2</button>
      <button class="button-keypad">3</button>
    </div>
    <div>
      <button class="button-keypad">0</button>
      <button id="back" class="button-keypad-back">
        <i class="fas fa-undo-alt"></i>
      </button>
      <button id="enter" class="button-keypad-enter">
        <i class="fas fa-sign-in-alt"></i>
      </button>
    </div>
  </div>
</template>